$component-name: "c-nav";

.#{$component-name} {
  display: flex;
  align-items: center;
  list-style: none;
  // display: none;

  @media (min-width: 769px) {
    display: flex;
  }

  &__item {
    margin: 0;

    @media (min-width: 769px) {
      margin: 5px;
    }
  }

  &__link {
    text-decoration: none;
    color: white;
    padding: 15px 15px 15px 0;
    display: block;

    @media (min-width: 769px) {
      display: flex;
      padding: 15px;
    }
  }
}
